*.txt filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.srs filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.mrs filter=lfs diff=lfs merge=lfs -text
*.txt !text !filter !merge !diff
*.conf !text !filter !merge !diff
*.srs !text !filter !merge !diff
*.json !text !filter !merge !diff
*.mrs !text !filter !merge !diff
